<div class="container mt-5">
    <div class="row">
        <div class="col-4">
            <div class="call">
                <button mat-mini-fab color="warn" class="m-3" aria-label="Example icon button with a filter list icon">
          <mat-icon>call</mat-icon>
        </button>
                <span>
                    Call to us
                </span>

                <p>We are available 24/7, 7 days a week.</p>
                <p>Phone : +1234567890</p>
            </div>

            <hr>

            <div class="write">
                 <button mat-mini-fab color="warn" class="m-3" aria-label="Example icon button with a filter list icon">
          <mat-icon>mail</mat-icon>
        </button>
                <span>Write to us</span>
                <p>Fill out our form and we will contact you within 24 hrs.</p>
                <p>Email : customer@exclusive.com</p>
                <p>Email : suppport@exclusive.com</p>
            </div>
        </div>
        <div class="col-6 offset-2">
            <form #contactForm="ngForm" (ngSubmit)='onContact()'>
                <div class="form-group">
                    <label for="name">Your Name <sup class="text-danger">*</sup></label>
                <input type="text" name="name" ngModel #name="ngModel" id="name" class="form-control">
                </div>

                <div class="form-group">
                    <label for="email">Your email <sup class="text-danger">*</sup></label>
                <input type="text" ngModel #email="ngModel" name="email" id="email" class="form-control">
                </div>

                <div class="form-group">
                    <label for="phone">Your phone <sup class="text-danger">*</sup></label>
                <input type="text" ngModel #phone="ngModel" name="phone" id="phone" class="form-control">
                </div>

                <div class="form-group">
                    <label for="msg">Your message  <sup class="text-danger">*</sup></label>
                <textarea type="text" ngModel #msg="ngModel" name="msg" id="msg" class="form-control"></textarea>
                </div>

                <button mat-raised-button color="warn" class="btn-block" >Send Message</button>
            </form>

        </div>
    </div>
</div>