<div class="container mt-5">
    <div class="row">
        <div class="col-6">
            <h1>Our Story</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt asperiores debitis enim hic inventore? Magnam illo nulla repudiandae, quam esse qui? Repudiandae porro, adipisci tempore quisquam laudantium ut deleniti dolores?
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione dicta illo temporibus sequi, ullam sunt dignissimos enim harum dolor veritatis, .</p>
        </div>
        <div class="col-6">
            <div class="shopImg">
                <img src="https://tse3.mm.bing.net/th/id/OIP.4n1c9e2qjMrynEdlsSWuTQHaEo?pid=Api&P=0&h=180" alt="onlineShopping" title="onlineShopping">
            </div>
        </div>
    </div>

    <div class="row my-5">
        <div class="col-3">
            <div class="info">
                <button mat-mini-fab  aria-label="Example icon button with a home icon">
          <mat-icon>storefront</mat-icon>
        </button>

        <h2>10.5 k</h2>
        <p>sellers active our site</p>
            </div>
        </div>
        <div class="col-3">
         <div class="info bg-danger text-white">
              <button mat-mini-fab  aria-label="Example icon button with a home icon">
          <mat-icon>paid</mat-icon>
        </button>
        <h2>33k</h2>
        <p>Monthly product sale</p>
         </div>
        </div>
        <div class="col-3">
           <div class="info">
             <button mat-mini-fab aria-label="Example icon button with a home icon">
          <mat-icon>cases</mat-icon>
        </button>
        <h2>45.5k</h2>
        <p>Customer active in our site</p>
           </div>
        </div>
        <div class="col-3">
             <div class="info">
                <button mat-mini-fab  aria-label="Example icon button with a home icon">
          <mat-icon>money_bag</mat-icon>
        </button>
        <h2>25k</h2>
        <p>Anual gross in our site</p>
             </div>
        </div>
       
    </div>

    <div class="row">
        <div class="col-3 offset-1">
              <div class="avtar mb-2">
                <img src="https://tse2.mm.bing.net/th/id/OIP.ZWawLbht37P13oCzLGVgswHaHa?pid=Api&P=0&h=180" title="" alt="">
            </div>
             <h2 class="m-0">Tom Cruise</h2>
             <p>Founder & Chairman</p>
        </div>
        <div class="col-3 offset-1">
             <div class="avtar mb-2">
                <img src="https://img.freepik.com/premium-vector/cute-woman-avatar-profile-vector-illustration_1058532-14592.jpg?w=2000" title="" alt="">
            </div>
             <h2 class="m-0">Emma Watson</h2>
           <p>Managing Director</p>
        </div>
        <div class="col-3 offset-1">
             <div class="avtar mb-2">
                <img src="https://img.freepik.com/premium-photo/isolated-businessman-character-avatar-professional-branding_1029469-183667.jpg?w=2000" title="" alt="">
            </div>
           <h2 class="m-0">Will Smith</h2>
           <p>Product Designer</p>
        </div>
    </div>

    <div class="row ">
        <div class="col-3 offset-2">
            <div class="about">
                <button mat-mini-fab  aria-label="Example icon button with a home icon">
          <mat-icon>airport_shuttle</mat-icon>
        </button>

        <h4>free and fast delivery</h4>
        <p>Free delivery for all for orders $140</p>
            </div>
        </div>
        <div class="col-3">
            <div class="about">
                <button mat-mini-fab  aria-label="Example icon button with a home icon">
          <mat-icon>headphones</mat-icon>
        </button>

        <h4>24/7 customer service</h4>
        <p>Friendly 24/7 customer service</p>
            </div>
        </div>
        <div class="col-3">
            <div class="about">
                <button mat-mini-fab  aria-label="Example icon button with a home icon">
          <mat-icon>check_circle</mat-icon>
        </button>
        <h4>money back gurantee</h4>
        <p>We return money in 2 days</p>
            </div>
        </div>
    </div>
</div>