.shopImg{
    height: 300px;
}

.shopImg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  
}
 h1{
    font-size: 30px;
    font-weight: 600px;
}

.info{
    border: 1px solid #ccc;
    text-align: center;
    padding: 20px 0;
}
.info h2{
    margin-bottom: 0;
}
.info p{
    margin: 0;
}

.info button{
    margin-bottom: 10px ;
}

.avtar{
    height: 250px;
    margin-top: 50px;
}

.avtar img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.about{
    text-align: center;
    margin-top: 70px;
}
.about h4{
    margin-bottom: 0;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
}