<footer class="footer mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 ml-5">
                <h2>
                    exclusive
                </h2>
                <h4>
                    subscribe
                </h4>
                <p>
                    get 10% off your first order
                </p>
                <div class="input-group">
                    <input type="email" placeholder="Enter your email" name="email" class="form-control">

                    <div>
                        <button mat-icon-button class="text-white" aria-label="Example icon button with a heart icon">
                            <mat-icon>send</mat-icon>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <h2>support</h2>
                <p>
                    111 bijay sirani, dhaka dh 1515, bangladesh
                </p>
                <a href="mailto:exclusive@gmail.com">exclusive@gmail.com</a>

                <a href="tel:1234-5678-9102">1234-5678-9102</a>
            </div>

            <div class="col-md-2">
                <h2>account</h2>
                <span>my account</span>
                <span>login/register</span>
                <span>cart</span>
                <span>wishlist</span>
                <span>shop</span>
            </div>

            <div class="col-md-2">
                <h3>quick link</h3>
                <p>private policy</p>
                <p>terms of use</p>
                <h4>FAQ</h4>
                <span>contact</span>
            </div>

            <div class="col-md-2">
                <h3>dowload app</h3>
                <h5>save s3 with app new user only</h5>
                <button mat-icon-button aria-label="Example icon button with a menu icon">
                    <mat-icon>facebook</mat-icon>
                </button>

                <button mat-icon-button  aria-label="Example icon button with a menu icon">
                    <mat-icon>menu</mat-icon>
                </button>

                <button mat-icon-button  aria-label="Example icon button with a menu icon">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>

        </div>

        <hr>

        <p></p>
    </div>
</footer>