<div class="row">
    <div class="col-4">
        <ul>
            <li>Electronics</li>
            <li>Woman's Fashion</li>
            <li>Men's Fashion</li>
            <li>Home & Lifestyle</li>
            <li>Medicine</li>
            <li>Toys</li>
            <li>Sport & Outdoors</li>
        </ul>
    </div>


    <div class="col-8">
        <div class="herosection">
            <div class="mobInfo">
                <div>

                    <button mat-icon-button class="text-white" aria-label="Example icon button with a heart icon">
                        <mat-icon>apple</mat-icon>
                    </button>
                    <span>iphone 14 series</span>
                </div>

                <h1>
                    Up to 10%
                </h1>
                <h1>
                    offer voucher
                </h1>




                <span>Shop Now

                    <button mat-icon-button class="text-white" aria-label="Example icon button with a heart icon">
                        <mat-icon>arrow_forward</mat-icon>
                    </button>
                </span>

            </div>

            <div class="mobileimg">
                <img src="https://tse2.mm.bing.net/th/id/OIP.z0swe2GvERSmzA7fxaUdvQHaEK?pid=Api&P=0&h=180"
                    title="iphone" alt="iphone">
            </div>
        </div>
    </div>

</div>



